* {
	margin: 0;
	padding: 0;
	line-height: 1;
}
#load p {
	text-align: center;
	font-size: 20px;
	line-height: 5;
	color: #9f9f9f;
}
topbar {
	display: block;
	/*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
	background-image: radial-gradient(circle at center center, rgb(30, 108, 204),rgb(36, 61, 118));
	line-height: 70px;
	padding: 0 10px;
}
topbar tit {
	color: #fff;
	font-size: 15px;
	line-height: 4.66;
	padding-left: 10px;
	margin-left: 10px;
	border-left: 1px solid rgba(256, 256, 256, .5);
	font-family: SimHei;
}
@media(max-width:900px) {
	.width {
		width: 100%;
	}
	midbar {margin: 0!important;border:none!important;}
	body {background: #fff;}
}
@media(min-width:900px) {
	.width {
		width: 900px;
		margin: 0 auto;
	}
	body {background: #fafafa;}
}
.logo {
	display: inline-block;
	vertical-align: top;
	background: url(https://13511974.s21i.faimallusr.com/4/4/ABUIABAEGAAgs4ryuAYogO6GhgIwygM49gE);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	height: 70px;
	width: 60px;
}
.mob_btn {
	background: none;
	font-size: 14px;
	color: #fff;
	padding: 7.5px 15px;
	border-radius: 100px;
	border: 1px solid #fff;
	margin: 19px 0;
	float: right;
	cursor: pointer;
}
.mob_btn:hover {
}

midbar {
	display: block;
	background: #fff;
	border: 1px solid #e0e0e0;
	margin: 30px 0;
	font-family: SimSun, sans-serif!important;
}
#special_toptit {
	text-align: center;
	background-image: radial-gradient(circle at 47% 98%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 53% 90%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 17% 34%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 85% 36%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 22% 21%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 99% 30%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 82% 84%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 62% 49%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 85% 14%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 89% 22%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 37% 65%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 57% 27%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 95% 91%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 85% 34%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 7% 65%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 69% 41%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 33% 2%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 57% 84%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 80% 86%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 45%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),linear-gradient(45deg, rgb(45, 149, 193),rgb(50, 50, 175));
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
	line-height: 3;
	font-weight: bold;
	font-size: 30px;
	font-family: SimHei;
}
#special-content {
	padding: 50px 0;
	width: 90%;
	margin: 0 auto;
	font-size: 16px;
	color: #6f6f6f;
	line-height: 2.5;
}
#special-content bi {
	font-size: 18px;
	font-weight: bold;
	display: block;
	line-height: 3;
	font-family: SimHei;
}
bottombar {
	background: #f0f0f0;
	display: block;
	color: #8f8f8f;
	padding: 20px 0;
	text-align: center;
	font-size: 12px;
}
zzxq {
	display: block;
	font-size: 14px;
	color: #272727;
	line-height: 2.8;
	font-family: Tahoma,SimHei,sans-serif;
	padding: 5px;
	background: #fafafa;
	border-radius: 10px;
}
zzxq ti {
	display: inline-block;
	font-size: 13px;
	line-height: 1;
	padding: 0 10px;
	border-radius: 5px;
	color: blue;
}
zuoz {
	display: block;
	line-height: 1;
	text-align: center;
	padding: 22px 0 8px 0;
	font-size: 22px;
	border-radius: 10px;
	margin-bottom: 30px;
	font-family: Microsoft Yahei,sans-serif;
	color: #fff;
	font-weight: bold;
	background-image: radial-gradient(circle at 53% 25%, rgba(203, 203, 203,0.04) 0%, rgba(203, 203, 203,0.04) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 48% 27%, rgba(22, 22, 22,0.04) 0%, rgba(22, 22, 22,0.04) 45%,transparent 45%, transparent 100%),radial-gradient(circle at 65% 50%, rgba(219, 219, 219,0.04) 0%, rgba(219, 219, 219,0.04) 61%,transparent 61%, transparent 100%),radial-gradient(circle at 78% 82%, rgba(229, 229, 229,0.04) 0%, rgba(229, 229, 229,0.04) 26%,transparent 26%, transparent 100%),radial-gradient(circle at 99% 75%, rgba(96, 96, 96,0.04) 0%, rgba(96, 96, 96,0.04) 31%,transparent 31%, transparent 100%),radial-gradient(circle at 17% 28%, rgba(188, 188, 188,0.04) 0%, rgba(188, 188, 188,0.04) 15%,transparent 15%, transparent 100%),radial-gradient(circle at 19% 19%, rgba(25, 25, 25,0.04) 0%, rgba(25, 25, 25,0.04) 68%,transparent 68%, transparent 100%),radial-gradient(circle at 35% 23%, rgba(31, 31, 31,0.04) 0%, rgba(31, 31, 31,0.04) 18%,transparent 18%, transparent 100%),linear-gradient(90deg, rgb(138, 193, 238),rgb(20, 21, 171));
}
zuoz w {
	display: block;
	padding: 0px 0;
	line-height: 1;
	font-size: 13px;
	line-height: 3;
	font-weight: normal;
	letter-spacing: 0.1em;
	text-align: center;
}
bottombar p {
	padding: 8px 0;
}
bottombar p a {
	margin: 0 8px;
	color: #8f8f8f;
	text-decoration: none;
}
bottombar p a:hover {
	color: #9902cc;
}

.index_news a {
	display: block;
	font-size: 16px;
	padding: 0 20px;
	color: #272727;
}
rd {
	color: red;
}
#article_404 {
	text-align: center;
	font-size: 15px;
	line-height: 5;
	color: #8f8f8f;
	padding: 120px 0;
}
.index_news a b {
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 35px 0;
	width: calc(100% - 95px);
	font-weight: normal;
	font-family: Arial,SimHei;
}
.index_news a t {
	float: right;
	font-size: 14px;
	color: #9f9f9f;
	margin: 36px 0;
	font-family: Arial,SimHei;
}
.index_news a:hover t {color: ;}
.index_news a:not(:last-child) {
	border-bottom: 1.5px dotted #e0e0e0;
}
.index_news a:hover {
	color: ;
	background-color: #f0f0fa;
}
.a-lins {
	text-decoration: none;
	color: #0080ff;
}
.a-lins:hover {
	color: #002778;
	text-decoration: underline;
}
bq {
	display: block;
	width: 100%;
	background: url(https://13511974.s21i.faiusr.com/4/5/ABUIABAEGAAg44uPuQYoise2sgQwuQY4ywM.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center center;
	height: 50%;
	cursor: pointer;
	transition: 0.2s;
}
bq:hover {
	background-size: 110% auto;
}
.more_btn {
	font-size: 14.5px;
	color: #0080ff;
	padding: 8px 20px;
	border: 1.5px solid #0080ff;
	line-height: 8;
	border-radius: 10px;
	cursor: pointer;
	font-family: SimHei;
}
.more_btn:hover {
	background: #0080ff;
	color: #fff;
}
iframe {
	width: 100%;
}
#art-title {
	font-size: 24px;
	line-height: 1.5;
	text-align: center;
	font-family: Arial,sans-serif;
	padding: 50px 15px 20px 15px;
}
.art-info {
	color: #5f5f5f;
	font-size: 13px;
	text-align: center;
	background: #f6f6f6;
	line-height: 2.5;
	font-family: Arial, sans-serif;
	margin: 20px 20px 20px 20px;
}

#art-content {
	margin: 20px auto 50px auto;
	width: 80%;
	font-size: 16px;
}
#art-content img {
	display: block;
	width: 100%;
	margin: 15px auto;
}
#art-content p {
	line-height: 2;
	text-indent: 2em;
	padding: 10px 0;
}
#art-content st {
	display: inline;
	background: #ecf5ff;
	line-height: 2;
}
#art-content alert::before {
	content: '创作声明：';
}
#art-content alert {
	float: right;
	font-size: 12px;
	font-family: PingFang SC;
	color: #9f9f9f;
	line-height: 1;
}
#art-content ri {
	display: block;
	text-align: right;
	line-height: 2;
}
