* {margin:0;padding:0;font-family:PingFang SC,sans-serif;}
nav {margin:20px 0;padding-left:0!important;}
.Large {
	width:1100px;text-align:left;
}
body {background:#f0f0f0!important;}
button {border-radius:2px!important;}
.bt-xbt {font-size:13.5px;color:#8a8a8a;line-height:18px!important;display:block}
.topBig {
	background:url(https://1.s140i.faiscm.com/2/AIwBCAAQAhgAIIr-2e0FKMDJ3IMHMNAFOIAK.jpg);background-size:101%;
	padding:10vh 0;color:#fff;text-shadow:0px 0px 0px rgba(0, 0, 0, 0.6);background-position:top,center;font-size:900px;
}
.topcorn {border-top:5px solid #f4b75c;background:linear-gradient(to bottom,#ffffff,#f0f0f0)!important;}
.navbar-brand {font-size:15px!important;}
.topBig h1 {font-size:0.045em;text-align:center;}
.topBig p {font-size:0.02em;line-height:1;margin-top:50px;text-align:center;}
@media(min-width:1100px) {
	.topBig {width:100%;}
	.wenzpng {width:100%;}
}
@media(max-width:1100px) {
	.topBig {width:1100px;}
	.wenzpng {width:1100px;}
	.topcorn {width:1100px;}
	.bottomIS {width:1100px;}
}

.gyccw {color:#5b5b5a;line-height:2;font-family:PingFang SC,sans-serif!important;}
.btn-primary {background:#F03979!important;border:none!important;}
.btn-primary:hover {background:#F795B8!important}
geb {margin:0 4px;}
li.active {border-bottom:2px solid #F03979;}
.topis {background:#3c3c3c;color:#fff;font-size:14px;line-height:3;} 


.conyem-ab {border:1px solid #e0e0e0;padding:30px 50px;margin:15px;background:#fff;}
.conyem-ab h1 {text-align:center;line-height:1;padding:10px 0;font-size:25px;font-family:Microsoft Yahei UI,sans-serif!important;font-weight:bold;}
.conyem-ab p {line-height:2.5;color:#5b5b5b;font-family:SimSun,sans-serif;}

.dibul {background:#f5f6fa;text-align:center;color:#000;line-height:3.5;font-size:14px!important;margin-top:20px;}
.dibul a {color:blue;text-decoration:none;margin:0 5px;font-family:Arial,Microsoft Yahei,SimSun,sans-serif!important;}
.dibul a:hover {color:red;text-decoration:underline}

#wenzdiv {padding:0 30px;}

.youbianww {text-align:right;}

.bottomIS {background:#272727;color:#e0e0e0!important;margin-top:30px;border-top:5px solid #f4b75c;padding:20px 0;}
.bottomIS .Large p {text-align:center;line-height:1;font-size:14px;font-family:SimSun,sans-serif!important;}

.art_card {
	border:1px solid #e0e0e0;padding:0px;margin-top:25px;background:#fff;box-shadow:1px 1px 3px rgba(0, 0, 0, 0);transition:0.2s;width:96%;margin-left:2%;
}
.art_img {width:160px;height:90px;}
.art_card .col-8 h5 {color:#000!important;font-weight:bold!important;line-height:2;}
.art_card .col-8 p {color:#5b5b5b!important;font-size:15px;line-height:2.5;}
.art_card .col-3 p {color:#7c7c7c!important;font-size:14px;line-height:3;}
.art_card:hover {background: #ECF5FF;border-color:#46A3FF;}
.art_card:hover h5,.art_card:hover p {color:#0080ff!important;}
a.n {text-decoration:none!important;} a.n:hover {text-decoration:none!important;}

.p43 {padding:20px 60px!important;display:inline-block!important;}