* {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",sans-serif;
}
body {
	background: #f0f0f0;
}
p.ntfd {
	padding: 200px 0;
	text-align: center;
	line-height: 1.8;
	font-size: 14px;
	background: #fff;
	margin: 0 auto;
	width: 960px;
}
p.ntfd a {
	display: inline-block;
	color: #2894ff;
	text-decoration: none;
	margin: 0 10px;
}
p.ntfd a:hover {
	color: #0066cc;
	text-decoration: underline;
}
.noto-sans-sc-<uniquifier> {
	font-family: "Noto Sans SC", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}
.top {
	height: 60px;
	background: #fff;
	/*background: linear-gradient(to left, #ffd400, #ffc20e);*/
	box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
	min-width: 960px;
}
.width {
	width: 960px;
	margin: 0 auto;
	background: #fff;
}
.home-banner img {
	display: block;
	width: 100%;
	min-width: 960px;
}
.home-banner:hover {
}
.nav-out {
	display: block;
	min-width: 960px;
	height: 60px;
}
.nav {
	height: 60px;
	float: right;
}
.drop {
	display: inline-block;
	text-align: center;
}
.dropc {
	width: 90px;
	margin: 0 5px;
	transform: scale(100%,0);
    transform-origin: top;
	opacity: 0;
	transition: .16s;
	overflow: hidden;
	position: absolute;
	background: #fff;
	text-align: center;
	z-index: 200;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
}
.width::selection {
	color:rgba(0, 0, 0, 0);
}
.drop:hover .dropc {
	opacity: 1;
	transform: scale(100%,100%);
	width: 100px;
	margin: 0;
}
.drop:hover a {
	opacity: 1;
}
.logo {
	display: inline-block;
	height: 34px;
	padding: 12px 0;
	margin-left: 20px;
	cursor: pointer;
}
.top img {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	margin: 5px 0;
	margin-right: 10px;
}
.dropc a {
	overflow: hidden;
	white-space: nowrap;
	display: block;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.5;
	opacity: 0;
	padding: 11px 0;
	cursor: pointer;
	text-align: center;
	color: #000;
	transition: .15s;
	transition: opacity 0s;
}
.dropc a:not(:last-child) {
	border-bottom: 1px solid #f0f0f0;
}
.dropc a:hover {
	background: #186AAB;
	color: #fff;
}
.nav::selection {
	background: none;
}
.nav a:not(.dropc a) {
	display: inline-block;
	font-size: 15px;
	line-height: 60px;
	color: #000;
	text-decoration: none;
	padding: 0 20px;
	cursor: pointer;
	background-position: center top;
}
.nav a:not(.dropc a):hover {
	color: #186AAB;
	background: #f8f8f8;
	/*color: #2894ff;
	height: 69px;
	border-bottom: 3px solid #2894ff;*/
}
.title {
	padding: 120px 0;
}
.title::after {
	margin-top: 20px;
	margin-left: 50%;
	transform: translate(-50%);
	display: block;
	width: 30px;
	height: 5px;
	background: #3c3c3c;
}
.title h1 {
	display: block;
	vertical-align: bottom;
	font-size: 36px;
	color: #fff;
	text-align: center;
}
.title p {
	display: block;
	vertical-align: bottom;
	font-size: 18px;
	text-align: center;
	color: rgba(256, 256, 256, .6);
	margin-top: 22px;
}
.page-c {
	padding: 50px 0;
}
.page-c p {
	font-size: 16px;
	line-height: 2;
}
.page-c h2 {
	font-size: 24px;
	color: #2894FF;
	font-weight: normal;
	line-height: 2;
}
.title-bg {
	background: linear-gradient(to top, #0080ff, #2894ff);
	min-width: 960px;
}

man {
	display: inline-block;
	width: 260px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	height: 220px;
	margin: 10px 15px;
	transition: .1s;
	overflow: hidden;
}
man:hover {
	box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
	border-color: #fff;
}
man:hover h1 {
	color: #2894ff;
}
man h1 {
	text-align: center;
	margin:  25px 0 10px 0;
	line-height: 2;
	font-size: 24px;
	font-weight: normal;
	color: #000;
	transition: .2s;
}
man p {
	font-size: 15px!important;
	padding: 15px 25px;
	text-align: center;
	color: #8f8f8f;
	line-height: 2;
}
man img {
	display: block;
	width: 100%;
	height: 280px;
}
man h1::after {
	content: '';
	position: absolute;
	display: block;
	width: 20px;
	height: 4px;
	background: #2894ff;
	margin-left: 120px;
}
man button {
	display: block;
	font-size: 14.5px;
	padding: 10px 20px;
	margin: 10px auto;
	border: none;
	cursor: pointer;
	border: 1px solid #2894ff;
	background: #fff;
	color: #2894ff;
}
man button:hover {
	color: #fff;
	background: #2894ff;
}
.news {
	display: inline-block;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 0 30px 0;
	vertical-align: top;
}
.width div.news:first-of-type {
	width: 690px;
}
.width div.news:last-of-type {
	width: 490px;
}
.news a {
	display: block;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 14.5px 20px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.news a:hover, .news a:hover t {
	background: #f0f0f0;
}
.news a:not(:last-child) {
	
}
.news-top-s {
	font-size: 16px;
	padding: 16px 20px;
	font-weight: bold;
	background: #fafafa;
	border-bottom: 1px solid #f0f0f0;
}
.news a t {
	margin-top: 2px;
	float: right;
	font-size: 12px;
	color: #9f9f9f;
	font-family: Arial;
}
.news nodata {
	display: block;
	text-align: center;
	font-size: 15px;
	line-height: 4;
	color: #9f9f9f;	
}
.newsd {
	padding: 10px 0px;
	margin: 0px auto!important;
	background: #fff;
}
.newsd h1#newstitle {
	color: #186AAB;
	font-size: 22px;
	text-align: center;
	font-weight: normal;
	line-height: 1.5;
	padding: 40px 50px;
}
.newsd h1#newstitle::after {
	display: block;
	position: absolute;
	/*content: '';*/
	width: 40px;
	height: 4px;
	background: #2894ff;
	margin-top: 10px;
}
.newsd p#newsinfo {
	color: #5b5b5b;
	background: #fafafa;
	padding: 10px 0px;
	margin: 0 50px;
	font-size: 14px;
	text-align: center;
	line-height: 1;
}
.newsd p#newsinfo::after {
	display: block;
	width: 120px;
	height: 2px;
	background: #2894ff;
}
.newsd p#newsinfo img {
	margin: 0 5px 0 10px;
	height: 16px;
	vertical-align: middle;
}
#newscontent {
	padding: 40px 80px;
	font-size: 14px;
	line-height: 2;
}
#newscontent img {
	display: block;
	margin: 0 auto;
	max-width: 95%;
}
#newscontent intro {
	display: block;
	font-size: 15px;
	font-family: SimHei;
	line-height: 2;
	color: #186AAB;
}
#newscontent p {
	font-size: 14px;
	line-height: 2;
}
#newscontent pre {
	line-height: 2;
	white-space: pre-wrap;
}

#newscontent tit {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 32px;
	letter-spacing: .1em;
	font-family: SimSun;
	color: red;
	padding: 20px 0;
	font-weight: bold;
	transform: scale(80%,100%);
	border-bottom: 6px double red;
}
#newscontent p.r {
	text-align: right;
}
#newscontent smt {
	display: inline-block;
	font-size: 20px;
	line-height: 2;
	color: #2894ff;
}
@media(max-width:960px) {
	.flex-width {
		width: 100%;
		margin: 0;
	}
}
@media(min-width:960px) {
	.flex-width {
		width: 960px;
		margin: 0 auto;
	}
}
bottom .width {
	border-top: 1px solid #f0f0f0;
}
.syban {
	background: url(https://13511974.s21i.faiusr.com/4/ABUIABAEGAAg0ZicvgYov9Sv9AUwnxE49As.png);
	background-size: 96% auto;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 680px;
	background-color: #186AAB;
}
bottom {
	display: block;
	color: #000;
	font-size: 14px;
	text-align: center;
	padding: 0;
	min-width: 960px;
}
bottom p {
	line-height: 90px;
	vertical-align: middle;
	display: inline-block;
}
bottom p:first-child {
	margin-right: 45px;
}
bottom p:last-child {
	margin-left: 45px;
}
bottom .qrbox {
	height: 70px;
	padding-top: 6px;
	display: inline-block;
	vertical-align: middle;
}
bottom .qrbox img {
	display: inline-block;
	vertical-align: middle;
	height: 66px;
	padding: 0px 0;
}
bottom .qrbox span {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	padding-left: 18px;
	font-size: 13px;
	line-height: 20px;
	padding: 10px 12px;
	border-radius: 5px;
}
bottom .qrbox span b {
	display: block;
	color: #186AAB;
	font-size: 13px;
	margin-top: 5px;
	font-weight: normal;
}

.page-abt {
	padding: 25px 40px;
	margin: 50px 5px;
	background: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .06);
}
.rdbtn {
	cursor: pointer;
	font-size: 14.5px;
	color: #fff;
	padding: 12px 24px;
	border: none;
	background: #ef4136;
}
.rdbtn:hover {
	opacity: .6;
}
.page-abtg {
	padding: 40px 45px;
}
.page-abt p {
	font-size: 16.5px;
	line-height: 2.5;
	color: #000;
}
.page-abt h1 {
	line-height: 3.2;
	margin-top: -10px;
	color: orangered;
	font-size: 21px;
	font-family: Arial,SimHei;
}

.i22jz {
	background: url(https://13511974.s21i.faiusr.com/4/5/ABUIABAEGAAg94bOvQYotMa5XTC9DzjjBw.png);
	background-size: 101% auto;
	width: 100%;
	height: 52vw;
	background-repeat: no-repeat;
	min-width: 960px;
	min-height: 630px;
}
#ac-stn {
	margin-top: 40px;
	border-top: 1px solid #fafafa;
	font-size: 10px;
	line-height: 2;
	padding: 0 20px;
	color: #e0e0e0;
	border-radius: 5px;
}
#ac-stn span {
	float: right;
	line-height: 2;
}
#newscontent a {
	color: #2894ff;
	text-decoration: none;
}
#newscontent a:hover {
	text-decoration: underline;
}
.tacen {
	text-align: center;
}
namecard {
	display: inline-block;
	padding:0 25px;
	font-size: 21px;
	width: 270px;
	line-height: 70px;
	text-align: center;
	box-shadow: 0 1.5px 5px rgba(0, 0, 0, .08);
	color: #FF7F00;
	cursor: pointer;
	transition: .15s;
	border-top: 3px solid #ff7f00;
	margin: 20px;
	vertical-align: top;
	background: #fff;
	margin-top: 20px;
}
namecard img {
	width: 100%;
	display: block;
	margin-bottom: 22px;
	transition: .15s;
}
namecard:hover {
	background: orange;
	color: #fff;
	border-color: orange;
	font-size: 26px;
	box-shadow: none;
}

.fwwz-btn {
	display: inline-block;
	margin-top: 20px;
	padding: 14px 30px;
	font-size: 16px;
	color: #fff;
	border-radius: 5px;
	background: orange;
	text-decoration: none;
	transition: .15s;

}
.fwwz-btn:hover {
	background: #f47920;
	color: #fff;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .15);
}

.xwlb-new {
	margin: 50px 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .06);
}




.c-left {
	display: inline-block;
	vertical-align: top;
	width: 240px;
}
.c-right {
	display: inline-block;
	vertical-align: top;
	width: 690px;
}
.c-left .ctitle {
	color: #186AAB;
	font-size: 16.5px;
	line-height: 45px;
	font-weight: bold;
	margin: 20px 20px 0 20px;
	padding: 0 4px;
	border-bottom: 2px solid #186AAB;
}

.c-left .cswitch {
	margin: 10px 20px 80px 20px;
}
.c-left .cswitch a {
	text-align: left;
	display: block;
	text-decoration: none;
	color: #5f5f5f;
	line-height: 36px;
	font-size: 14.2px;
}
.c-left .cswitch a::before {
	content: '';
	margin-right: 15px;
}
.c-left .cswitch a {
	border-bottom: 1px solid #e0e0e0;
}
.c-left .cswitch a:not(.act):hover {
	color: #186AAB;
	background: #f0f0f0;
}
.c-left .cswitch a.act {
	background: #186AAB;
	color: #fff;
}

.c-right .ddv1 {
	margin: 20px 0px;
	border: px solid #f0f0f0;
	margin-bottom: 50px;
}
.c-right .ddv1 h1 {
	color: #186AAB;
	font-size: 18px;
	line-height: 50px;
	font-weight: normal;
	border-bottom: 1px solid #e0e0e0;
}
.c-right .ddv1 h1::before {
	content: '▎';
}
.c-right .ddv1 .ddv2 {
	padding: 30px 20px;
}
.ddv2 h2 {
	font-weight: normal;
	font-size: 16.5px;
	color: #186AAB;
	padding: 17px 0;
}
.ddv2 p {
	font-size: 14px;
	padding: 5px 0;
	line-height: 2;
}
.ddv2 p img {
	
}
.whz {
	text-align: center;
	font-size: 36px;
	color: #9f9f9f;
	line-height: 75vh;
}
.ddv2 a {
	text-decoration: none;
	color: #0072e3;
}
.ddv2 a:hover {
	color: #003D79;
	text-decoration: underline;
}
.ddvis a:nth-child(10000) {
	margin-top: 20px!important;
}
.ddvis a {
	display: block;
	padding: 0 15px 0 20px;
	height: 50px;
}
.ddvis a {
	position: relative;
	border-bottom: 1px solid #f0f0f0;
}
.ddvis a t {
	display: inline-block;
	font-size: 14px;
	line-height: 50px;
	cursor: pointer;
	max-width: 535px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ddvis a t::before {
	content: '■';
	margin-right: 5px;
	color: #e0e0e0;
	font-size: 8px;
	position: absolute;
	top: 0px;
	left: 8px;
}
.ddvis a:hover t::before {
	color: #186AAB;
}
.ddvis a:hover {
	background: #f9f9f9;
}
.ddvis a:hover t, .ddvis a:hover ti {
	color: #186AAB;
}
.ddvis a ti {
	display: inline-block;
	float: right;
	line-height: 50px;
	font-size: 13px;
	color: #c0c0c0;
}
