* {margin:0;padding:0;font-family:Microsoft Yahei UI,sans-serif;}
nav {padding:0!important;position:relative;}
.Large {
	width:1200px;text-align:left;
}
.LargeNoFlex {
	width:1200px;text-align:left;
}
body {background:#fafafa!important;}
button {border-radius:2px!important;}
.bt-xbt {font-size:13px;line-height:18px!important;display:block;font-weight:normal;font-family:;}
.topBig {
	background:url(https://1.s140i.faiscm.com/2/AIwBCAAQAhgAILaShvQFKMCgjboHMO4FOO4F.jpg);background-size:101%;
	padding:17vh 0;text-shadow:0px 0px 0px rgba(0, 0, 0, 0.6);background-position:top,center;font-size:1200px;z-index:0;
}
.topcorn {border-top:0px solid #f4b75c;background:#ae0000!important;padding:10px 0;z-index:9999!important;box-shadow:0px 3px 5px rgba(0, 0, 0, 0);}
.navbar-brand {font-size:16px!important;line-height:1.5!important;color:#fff!important;;}
.topBig h1 {font-size:0.033em;text-align:right;color:#ae0000;margin-right:2px;}
.topBig p {font-size:0.02em;line-height:1;margin-top:50px;text-align:right;margin-right:15px;}
li a.nav-link {font-size:17px!important;text-align:center;padding:10px 0px;margin:0 8px;font-family:Microsoft Yahei UI;color:#fff!important;}
li.nav-item {transition:0.2s;border-radius:0px;border-bottom:2px solid #ae0000;margin-right:20px;}
li.nav-item:hover {background:rgba(0, 0, 0, 0);}


.dropdown-menu {border:none!important;border-radius:0!important;background:#ae0000!important;min-width:50px!important;z-index:9999999!important;}
.dropdown-item {color:#fff!important;min-width:50px!important;padding:6px 15px!important;font-size:17px!important;}
.dropdown-item:hover {background:#930000!important;color:#fff!important;}
#srtbtp {user-select:none!important;}

li.active {background:rgba(0, 0, 0, 0);}
li.active a.nav-link {color:#fff!important;}

@media(min-width:1200px) {
	.topBig {width:100%;}
	.wenzpng {width:100%;}
	.p43 {padding:20px 60px!important;display:inline-block;}
	.sjnavbtn {display:none;}
	#srtbtp img {width:100%;}

}
@media(max-width:1200px) {
	.topBig {width:1200px;}
	.wenzpng {width:1200px;}
	.topcorn {width:1200px;}
	.bottomIS {width:1200px;}
	.Large {width:1200px!important;overflow:hidden;}
	#srtbtp img {width:1200px;}
	
}
table,table  td,table th,table td a,table th a{

    border: 0px solid #000;font-family:PingFang SC,sans-serif!important;font-weight:normal;

}
table th {width:25%!important;padding-right:80px;text-align:right;line-height:3.5!important;}
table  td{

    text-align:left;padding:0px 20px;line-height:3.5!important;

}


.gyccw {color:#5c5c5c;line-height:2.5!important;font-family:华文细黑,sans-serif!important;padding:10px 20px;display:block;}
.btn-primary {background:#F03979!important;border:none!important;}
.btn-primary:hover {background:#F795B8!important}





geb {margin:0 4px;}









.topis {background:#3c3c3c;color:#fff;font-size:14px;line-height:3;} 

.gywmh4 {line-height:1;text-align:center;font-size:23px;padding:20px 0;}
.conyem-ab {border:1.2px solid #e0e0e0;padding:30px 60px;margin:15px 0;background:#fff;border-radius:0px;box-shadow:0px 0px 0px #f3f4fb;font-size:18px;}
.conyem-ab h1 {text-align:center;line-height:1;padding:30px 0;font-size:30px;font-family:Microsoft Yahei UI,sans-serif!important;font-weight:;}
.conyem-ab p {line-height:2.5;color:#1c1c1c;font-family:Microsoft Yahei,SimSun,sans-serif;font-size:19px;text-indent:0em;padding:8px 0;}

.dibul {background:#f8f8f8;text-align:center;color:#b0b0b0!important;line-height:2.5!important;font-size:16px!important;margin-top:20px;padding:0!important;border-radius:0px}

.dibul a {color:#5b5b5b;text-decoration:none;}
.dibul a:hover {color:#930000;text-decoration:underline}
.dibul a,.dibul span {font-family:Microsoft Yahei UI,sans-serif!important;}
.gyccbg {width:60%;font-family:sans-serif!important;}
#wenzdiv {padding:0 30px;}

.youbianww {text-align:right;}

.bottomIS {background:#272727;color:#e0e0e0!important;margin-top:30px;padding:20px 0;}
.bottomIS .LargeNoFlex p {text-align:center;line-height:1;font-size:15.5px;padding:0;}

.art_card {
	border:1px solid #e0e0e0;padding:0px;margin-top:25px;background:#fff;box-shadow:1px 1px 3px rgba(0, 0, 0, 0);transition:0s;width:96%;margin-left:2%;
}
.art_img {width:160px;height:90px;}
.col-8,.col-3 {vertical-align:middle;margin-top:15px;}
.art_card .col-8 h5 {color:#000!important;font-weight:bold!important;line-height:2;}
.art_card .col-8 p {color:#5b5b5b!important;font-size:15px;line-height:2.5;}
.art_card .col-3 p {color:#7c7c7c!important;font-size:14px;line-height:3.1;}
.lh3 {line-height:4!important}
.art_card:hover {background: #ECF5FF;border-color:#46A3FF;}
.art_card:hover h5,.art_card:hover p {color:#0080ff!important;}
a.n {text-decoration:none!important;} a.n:hover {text-decoration:none!important;}


.biao-qian {padding:5px 15px;font-size:15px!important;color:#000!important;background:#f0f0f0;border-radius:20px;margin-top:10px!important;display:inline-block;margin-right:8px;transition:0.2s;}
.loading_zz {position:fixed;top:0;left:0;background:rgba(0, 0, 0, 0);width:102%;height:101vh;z-index:9999}
.homeflex {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
}
.flexbox {
	background:#fff;width:560px;padding:30px 40px;position:relative;cursor:pointer;transition:0.2s;margin:10px 0;
	animate:bounceInLeft;border:1px solid #f0f0f0;border-radius:0px;
}
.flexbox h1 {font-size:22px;line-height:1.6;transition:0.2s}
.flexbox h2 {font-size:14.6px;opacity:0.6;line-height:1.8;transition:0.2s}
.flexbox:hover {background:#ECF5FF;border-color:#97CBFF;}
.flexbox:hover> h1 {color:#0080ff;}
.flexbox:hover> h2 {color:#0080ff;opacity:1;}
.flexbox:hover .biao-qian {
	background:#fff;color:#0080ff!important;
}


.col-8 p::after {
	content:">>";
}


.sjcc {cursor:pointer;} .sjcc:hover {filter:brightness(1.3);}

.modal {user-select:none;}


.loading_div {
	background:none;text-align:center;user-select:none;padding:10vh 0;
}

#loading {display:none;}

@-webkit-keyframes spin {
                from {
                    -webkit-transform: rotate(0deg);
                }
                to {
                    -webkit-transform: rotate(360deg);
                }
            }
            
            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }

      ::selection {
    background-color: rgba(179, 215, 252, 0.8);
    color: inherit;
} /*background-color:#cce2ff;color:rgba(0,0,0,.87)*/
#zzhash2 {color:rgba(0, 0, 0, 0.6);font-size:14.5px;margin-right:10px;text-align:right;}
#zzhash2 a{color:blue;text-decoration:none;cursor:pointer;}
#zzhash2 a:hover {color:red;text-decoration:underline;}


p.yinyan {font-family:PingFang SC,sans-serif;opacity:0.8;margin-bottom:10px;padding:10px;border:1px solid #272727;border-radius:12px;}
p.zwbt_x {font-family:PingFang SC,sans-serif;text-align:center;font-size:22px;color:#000!important;}



/*版权声明：以下内容为CSDN博主原创，遵循 CC 4.0 BY-SA 版权协议，转载请附上原文出处链接和本声明。
原文链接：https://blog.csdn.net/xw1680/article/details/118126627 */
.animbox {
		    margin: 50px auto;
		    width: 200px;
		    text-align: center;
		}
		/*设置各竖条的共有样式*/
		.animbox > div {
		    background-color: #279fcf;
		    width: 4px;
		    height: 35px;
		    border-radius: 2px;
		    margin: 2px;
		    animation-fill-mode: both;
		    display: inline-block;
		    animation: anim 0.9s 0s infinite cubic-bezier(.11, .49, .38, .78);
		}
		/*设置动画延迟*/
		.animbox > :nth-child(2), .animbox > :nth-child(4) {
		    animation-delay: 0.25s !important;
		}

		.animbox > :nth-child(1), .animbox > :nth-child(5) {
		    animation-delay: 0.5s !important;
		}
		/*定义动画*/
		@keyframes anim {
		    0% {  transform: scaley(1); }
		    80% {  transform: scaley(0.3); }
		    90% {  transform: scaley(1);   }
		}
/*版权声明结束 */


.jindutiao {width:100%;position:fixed;top:0;left:0;height:5px;text-align:left;z-index:10390;}
.jindutiao > span {
                     display: block;
                     height: 100%;
                     background:#4EFEB3;
                     position: relative;
                     overflow: hidden;
     }


      @keyframes jiazailogo {
                from {
                    width:0;
                }
                to {
                    width:100%;
                }
            }



      /* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


#spridediv a {color:#9f9f9f!important;text-decoration:none;}
#spridediv a:hover {color:#930000!important;text-decoration:underline;}


.bottomIS a {color:#fff!important;}