* {
	margin: 0;
	padding: 0;
	line-height: 1;
}
a {
	color: blue;
	text-decoration: none;
}
a:focus {
	color: red;
}
#list-name {
	margin: 15px auto;
	text-align: center;
}
.width {
	width: 968px;
	margin: 0 auto;
}
.nav img.logO {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	padding-right: 15px;
	user-select: none;
}
.nav h1 {
	display: inline-block;
	vertical-align: middle;
	font-size: 28px;
	margin-right: 20px;
	line-height: 80px;
	color: #019858;
}
.top h1 span {
	font-size: 20px;
	display: inline-block;
	font-family: 楷体,sans-serif;
	padding-left: 10px;
	line-height: 40px;
	color: #5f5f5f;
}
.floater {
	background: #f0f0f0;
}
.dropicon {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 6px;
	transform: rotate(180deg);
}
.drop:hover .dropicon {
	transform: none;
}
.floater p {
	font-size: 15px;
	color: #6f6f6f;
	line-height: 40px;
}
.nav {
	background: #3c3c3c;
	position: relative;
	height: 80px;
	z-index: 0;
}
.nav .width::selection {
	background: rgba(0, 0, 0, 0);
}
.nav a:not(.droplink) {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	position: relative;
	font-size: 18px;
	line-height: 80px;
	text-align: center;
	padding: 0 10px;
	text-decoration: none;
	cursor: pointer;
	z-index: 2;
}
.fuHead {
	display: block;
	margin-top: -15px;
	width: 100%;
}
xxx {
	display: inline-block;
	height: 60px;
	vertical-align: top;
	border-left: 1px solid #4f4f4f;
	border-right: 1px solid #1b1b1b;
}
.nav a:not(.droplink):hover {
	color: ;
}
.nav a.act {
	background: #5b5b5b;
}
.nav a:not(.droplink)::before {
	content: '';
	width: 100%;
	height: 80px;
	background-color: #5b5b5b;
	display: block;
	position: absolute;
	left: 0;
	opacity: 0;
	bottom: 0;
	transform-origin: center;
	transform: scale(0,100%);
	transition: 0s;
	z-index: -1;
}
.nav a:not(.droplink):hover::before {
	transform: scale(100%,100%);
	opacity: 1;
}
.drop {
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.drop .content {
	max-height: 0;
	position: absolute;
	background: #3c3c3c;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	overflow: hidden;
	min-width: 60px!important;
	z-index: 999!important;
	transition: max-height .2s linear, top .2s;
}
.drop:hover .content {
	max-height:50px;
}
a.droplink {
	display: block;
	text-align: center;
	font-size: 16px;
	padding: 12px 15px;
	color: #fff;
	text-decoration: none;
	line-height: 1.5;
}
a.droplink:hover {
	color: #01B468;
}
.index_news {
	padding: 30px 0;
	text-align: center;
	background: linear-gradient(to top, #fff, #f0f0f0, #fff);
}
.index_news a {
	text-decoration: none;
}
.index_news a:hover h1,.index_news a:hover p {
	color: blue!important;
	text-decoration: underline;
}
.index_news a h1 {
	display: inline-block;
	color: darkred;
	font-size: 22px;
	line-height: 2;
}
.index_news a p {
	display: inline-block;
	color: #8f8f8f;
	font-size: 14px;
}

.list-left {
	display: inline-block;
	vertical-align: top;
	width: 220px;
	margin: 0 5px 0 0;
}
.list-left a {
	display: block;
	padding: 20px 30px;
	border-bottom: 1px solid #f0f0f0;
	font-size: 17px;
	color: #000;
	text-decoration: none;
}
.list-left a.act {
	background: #f0f0f0;
	color: #000!important;
}
.list-left a:hover {
	background: #f0f0f0;
}
.list-left h1 {
	background: #019858;
	color: #fff;
	font-size: 28px;
	text-align: center;
	padding: 35px 0;
	font-weight: normal;
	
}
.list-right {
	display: inline-block;
	vertical-align: top;
	width: 670px;
	margin: 0 0 0 5px;
	padding: 0 30px;
}
.list-right h1 {
	font-size: 28px;
	color: #019858;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 40px;
	position: relative;
}
.list-right p {
	font-size: 16px;
	color: #000;
	text-align: left;
	line-height: 2;
	color: #000;
	font-family: Arial,sans-serif;
}
.list-right p span {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
	line-height: 50px;
}
.list-right p img {
	max-width: 200px;
	display: block;
	margin: 0px auto;
}

.footer {
	margin-top: 20px;
	padding: 30px 3px;
	background: #f0f0f0;
}
.footer p {
	font-size: 16px;
	color: #6f6f6f;
	text-align: center;
	line-height: 1.5;
}
.news {
	padding: 0 5px;
	text-align: left;
	margin-bottom: 15px;
}
.news tit {
	display: block;
	font-weight: bold;
	padding: 30px 0;
	text-align: center;
	line-height: 1.5;
	font-size: 28px;
}
.news tim {
	font-size: 14px;
	text-align: center;
	display: block;
	color: #9f9f9f;
	background: #f0f0f0;
	line-height: 32px;
	user-select: none;
}
.news tim::before {
	content: '发布时间：';
}
.news tim::after {
	content: '作者：春潮投稿资讯站';
	margin-left: 20px;
}
.news p {
	line-height: 1.5;
	padding: 5px 15px;
	font-size: 18px;
}
.news p::nth-child(1) {
	padding-top: 20px;
}
table {
	border-collapse: collapse;
}
td, th {
	border: 0px solid #e0e0e0;
	padding: 6px 16px;
	font-size: 14px;
}
td img {
	display: block;
	width: 40px;
	margin: 0 auto;
	padding-bottom: 6px;
}
xw {
	display: block;
	text-align: left;
	line-height: 45px;
	font-size: 15px;
	color: #9f9f9f;
	position: relative;
}
xw:hover {
	background: #fafafa;
}
xw a {
	display: inline-block;
	vertical-align: top;
	max-width: 375px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 16px;
	line-height: 45px;
	color: #000;
}
xw a:hover {
	text-decoration: underline;
	color: red;
}
xw t {
	float: right;
	line-height: 45px;
}
xw::fter {
	width: 100%;
	content: '';
	height: 1px;
	background: #e0e0e0;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
xw:nth-child(1) {
	margin-top: 10px;
}
/*ywtb*/
.ywtb-nav {
	background: #F75000;
	line-height: 60x;
	padding: 0 20px;
	text-align: left;
	margin-top: -15px;
}
.ywtb-nav h1 {
	display: inline-block;
	vertical-align: top;
	line-height: 60px;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: .2em;
	color: #fff;
}
.ywtb-nav-znav {
	display: inline-block;
	vertical-align: top;
	float: right;
	line-height: 60px;
}
.ywtb-nav-znav a {
	display: inline-block;
	vertical-align: top;
	line-height: 60px;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	padding: 0 5px;
	transition: .2s;
	position: relative;
	overflow: hidden;
	letter-spacing: .1em;
}
.ywtb-nav-znav a::before {
	content: '';
	background: #fff;
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 10px;
	left: 0;
	transform-origin: center;
	opacity: 1s;
	transform: scale(0%,100%);
	transition: .1s;
}
.ywtb-nav-znav a:hover::before {
	bottom: 10px;
	transform: scale(80%,100%);
	opacity: 1;
}