* {
	margin: 0;
	padding: 0;
	font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
}
#finish {
	display: none;
}
::selection {
	background: #D2E9FF;
	color: #000;
}
#top-newjs {
	background: #fff;
}
.twidth {
	width: 1100px;
	margin: 0 auto;
	background: ;
	border: 0px solid #f0f0f0;
}
body {
	background: #f0f0f0;
}
.dtop {
	border: 1px solid #aacae3;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #0072e3;
    border: 0px solid #aacae3;
}

li {
    float: left;
    border-right:0px solid #aacae3;
}

li:last-child {
    border-right: none;
}
li:first-child a {
	padding-left: ;
}
li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0px 22px;
    text-decoration: none;
    font-size: 16.5px;
    line-height: 2.8;
    transition: all 0.2s;
}
#topjs {
	background: #0E51AC;
}
li a:hover:not(.active) {
    background: #2894ff;
    color: #fff;
}
.ta-r {text-align: right;}
li a.active {
    background: linear-gradient(to top, #930000, #ea0000);
}
.dbottom {
	border-top: 0px dashed #aacae3;
	background: #fff;
	padding-bottom: 22px;
}
.dbottom p {
	text-align: center;
	color:rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 2;
}
.dbottom p span {
	font-size: 14px;
}
.dindex {
	display: flex;
}
.dlenews {
	width: 595px;
	margin-right: 5px;
	background: linear-gradient(to top, #fff, #fff, #ecf5ff);
	border: 1px solid #aacae3;
}
.dlenews_top {
	padding: 10px 20px;
	border-bottom: 3px dotted #e0e0e0;
}
.dlenews_mid {
	padding: 0px 20px;
}
.dlenews_mid a {
	color: #054c9a;
	text-decoration: none;
}
.dlenews_mid a:hover {
	color: red;
	border-bottom: 1px dashed red;
	
}
.dlenews_mid h1 {
	text-align: center;
	line-height: 2.5;
	font-size: 22px;
}
.dlenews_mid p {
	line-height: 1.8;
	font-size: 14.5px;
}
.dlenotice {
	width: 295px;
	margin-left: 5px;
	background: #fff;
	border: 1px solid #aacae3;
	border-radius: 0px;
}
.dlenotice h1 {
	color: #054c9a;
	font-size: 17px;
	line-height: 2.5;
}
.dlenotice_mid {
	border-top: 1px solid #aacae3;
	background: linear-gradient(to bottom,#ecf5ff, #fff);
	padding: 6px 10px;
	border-radius: 0px;
	height: calc(100% - 70px);
}
.dlenotice_mid a {
	display: block;
	font-size: 13px;
	color: #054c9a;
	text-decoration: none;
	line-height: 1.5;
}
.dlenotice_mid a:hover {
	color: red;
}
.showleft {
	width: 305px;
	margin-right: 5px;
	background: #fff;
	min-height: 60vh;
	border: 1px solid #e0e0e0;
	margin-top: 10px;
}
.showleft a {
	display: block;
	font-size: 14px;
	color: #5b5b5b;
	line-height: 2.5;
	padding: 0 10px;
	text-decoration: none;
	transition: 0.2s;
}
.showleft h4 {
	color: #fff!important;
	background: #0080ff!important;
	padding: 15px 10px!important;
	line-height: 1!important;
	border: none!important;
	margin: 0!important;
}
.showleft a:hover {
	color: #0080ff;
	background: #ECF5FF;
}
.showright {
	border: 1px solid #e0e0e0;
	width: 785px;
	margin-left: 5px;
	margin-top: 10px;
	background: #fff;
}
#showindex h1 {
	color: #0080ff;
	text-align: center;
	font-size: 23px;
	line-height: 2.5;
	margin-top: 18px;
}
#showindex .dte {
	text-align: center;
	color: #8f8f8f;
	font-size: 12.5px;
	line-height: 1.6;
	padding-bottom: 8px;
	border-bottom: 1px solid #f0f0f0;
}
.dte a {
	color: #8f8f8f;
	text-decoration: none;
	transition: 0.2s;
}
.dte a:hover {
	color: #0080ff;
}
#showindex .dte span {
}

#showcontent {
	padding: 20px 25px;
	font-size: 16px;
	line-height: 1.8;
	color: #5b5b5b;
}
#showcontent a {
	color: #0080ff;
	text-decoration: none;
}
#showcontent a:hover {
	text-decoration: underline;
}

ywbox {
	display: inline-block;
	position: relative;
	width: 240px;
	height: 80px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0);
	color: #5f5f5f!important;
	line-height: 1!important;
	cursor: pointer;transition: 0.2s;
}
ywbox i {
	font-size: 40px;
	position: absolute;
	top: 20px;
	left: 15px;transition: 0.2s;
}
ywbox h1 {
	color: #5f5f5f!important;
	font-size: 17px!important;
	position: absolute;
	font-weight: normal;
	top: 6px;
	line-height: 1!important;
	left: 80px;transition: 0.2s;
}
ywbox p {
	color: rgba(0, 0, 0, 0.6);
	font-size: 13px;
	position: absolute;
	top: 46px;
	left: 80px;
	line-height: 1;transition: 0.2s;
}
ywbox:hover i,ywbox:hover h1,ywbox:hover p {
	color: #0080ff!important;
}
iframe {
	border: none;
	width: 100%;
}
rd {color: #ea0000;}
zy {
	display: block;
	padding: 20px 30px;
	background: #f8f9ff;
	color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
	line-height: 1.5;
	font-family: ;
}
