* {
	margin: 0;
	padding: 0;
	font-family: Times New Roman,SimSun;
}
#finish {
	display: none;
}
.twidth {
	width: 900px;
	margin: 0 auto;
	background: #fff;
	border: 0px solid #f0f0f0;
}
body {
	background: ;
}
.dtop {
	border: 1px solid #aacae3;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ecf5ff;
    border: 1px solid #aacae3;
}

li {
    float: left;
    border-right:1px solid #aacae3;
}

li:last-child {
    border-right: none;
}
li:first-child a {
	padding-left: ;
}
li a {
    display: block;
    color: #054c9a;
    text-align: center;
    padding: 9px 15px;
    text-decoration: none;
    font-size: 14.5px;
    line-height: 1;
}

li a:hover:not(.active) {
    background: #fff;
    color: red;
}

li a.active {
    background: linear-gradient(to top, #930000, #ea0000);
}
.dbottom {
	border-top: 1px dashed #aacae3;
}
.dbottom p {
	text-align: center;
	color:#054c9a;
	font-size: 13px;
	line-height: 1.8;
	font-family: Microsoft Yahei UI,sans-serif;
}
.dbottom p span {
	font-size: 14px;
}
.dindex {
	display: flex;
}
.dlenews {
	width: 595px;
	margin-right: 5px;
	background: linear-gradient(to top, #fff, #fff, #ecf5ff);
	border: 1px solid #aacae3;
}
.dlenews_top {
	padding: 10px 20px;
	border-bottom: 3px dotted #e0e0e0;
}
.dlenews_mid {
	padding: 0px 20px;
}
.dlenews_mid a {
	color: #054c9a;
	text-decoration: none;
}
.dlenews_mid a:hover {
	color: red;
	border-bottom: 1px dashed red;
	
}
.dlenews_mid h1 {
	text-align: center;
	line-height: 2.5;
	font-size: 22px;
}
.dlenews_mid p {
	line-height: 1.8;
	font-size: 14.5px;
}
.dlenotice {
	width: 295px;
	margin-left: 5px;
	background: #fff;
	border: 1px solid #aacae3;
	border-radius: 0px;
}
.dlenotice h1 {
	color: #054c9a;
	font-size: 17px;
	line-height: 2.5;
}
.dlenotice_mid {
	border-top: 1px solid #aacae3;
	background: linear-gradient(to bottom,#ecf5ff, #fff);
	padding: 6px 10px;
	border-radius: 0px;
	height: calc(100% - 70px);
}
.dlenotice_mid a {
	display: block;
	font-size: 13px;
	font-family: SimSun;
	color: #054c9a;
	text-decoration: none;
	line-height: 1.5;
}
.dlenotice_mid a:hover {
	color: red;
}
.showleft {
	width: 205px;
	margin-right: 5px;
	background: linear-gradient(to bottom, #ecf5ff, #fff);
	min-height: 60vh;
}
.showleft a {
	display: block;
	font-size: 13px;
	color: #054c9a;
	line-height: 1.8;
	padding: 0 10px;
	text-decoration: none;
}
.showleft a:hover {
	color: red;
	text-decoration: underline;
}
.showright {
	border: 1px solid #ACD6FF;
	width: 685px;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 5px;
}
#showindex h1 {
	color: #003D79;
	text-align: center;
	font-size: 22px;
	line-height: 2.5;
	margin-top: 18px;
	font-family: 微软雅黑;
}
#showindex .dte {
	text-align: center;
	color: #7f7f7f;
	font-size: 12.5px;
	line-height: 1.6;
	padding-bottom: 8px;
	border-bottom: 1px solid #ACD6FF;
	font-family: 微软雅黑!important;
}
.dte a {
	color: #7f7f7f;
	text-decoration: none;
	font-family: 微软雅黑;
}
.dte a:hover {
	color: blue;
}
#showindex .dte span {
	font-family: 微软雅黑;
}

#showcontent {
	padding: 20px 25px;
	font-family:Microsoft Yahei UI!important;
	font-size: 14px;
	line-height: 1.6;
	color: #000;
}
#showcontent a {
	color: blue;
	text-decoration: none;
	font-family: Microsoft Yahei UI;
}
#showcontent a:hover {
	color: red;
	background: #f0f0f0;
}
rd {
	font-size: 16px;
	font-family: Tahoma,微软雅黑;
	font-weight: bold;
}
