* {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-family: Arial,sans-serif;
}
.top {
	margin-top: 30px;
	height: 80px;
	background: #3FB2D0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}
.width {
	width: 980px;
	margin: 0 auto;
}
.home-banner img {
	display: block;
	width: 980px;
	margin: 0 auto;
}
.home-banner:hover {
}
.nav {
	float: right;
	height: 80px;
}
.drop {
	display: inline-block;
}
.dropc {
	opacity: 0;
	transition: .1s linear;
	width: 112px;
	overflow: hidden;
	border: 0px solid #fafafa;
	transform: scale(100%,0);
	transform-origin: top;
	position: absolute;
	background: #3FB2D0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .05);
}
.drop:hover .dropc {
	opacity: 1;
	transform: scale(100%);
}
logo {
	font-size: 24px;
	color: #2894ff;
	line-height: 3;
	display: inline-block;
	vertical-align: middle;
}
.top img {
	display: inline-block;
	height: 44px;
	vertical-align: middle;
	margin: 18px;
}
.dropc a {
	display: block;
	cursor: pointer;
	text-decoration: none;
	font-size: 15px;
	line-height: 1.8;
	padding: 12px 0;
	transition: opacity .3s;
	width: 100%;
	transition: .2s;
	text-align: center;
	color: #fff;
}
.dropc a:hover {
	color: #fff;
	background: #2585a6	;
}
.nav::selection {
	background: none;
}
.nav a:not(.dropc a) {
	display: inline-block;
	font-size: 18px;
	line-height: 80px;
	cursor: pointer;
	color: #fff;
	text-decoration: none;
	padding: 0 20px;
	transition: color .2s;
}
.nav a:not(.dropc a):hover {
	background: #2585a6		;
	color: #fff;
}
.title {
	padding: 120px 50px;
}
.title::after {
	content: '';
	margin-top: 20px;
	display: block;
	width: 40px;
	height: 5px;
	background: #3FB2D0;
}
.title h1 {
	display: inline-block;
	vertical-align: bottom;
	font-size: 32px;
	color: #3FB2D0;
}
.title p {
	display: inline-block;
	vertical-align: bottom;
	font-size: 20px;
	color: rgba(0, 0, 0, .45);
	margin-left: 30px;
}
.page-c {
	padding: 50px 0;
}
.page-c p {
	font-size: 16px;
	line-height: 2;
}
.page-c h2 {
	font-size: 20px;
	color: #000;
	font-weight: normal;
	line-height: 2;
}
.title-bg {
	background: #f9f9f9;
	background-size: 100% auto;
	width: 980px;
	margin: 0 auto;
}
#home h2.head-news {
	text-align: center;
	margin: 100px 20px;
	color: #ae0000;
	font-size: 32px;
	line-height: 1.3;
}
man {
	display: inline-block;
	width: 260px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	height: 220px;
	margin: 10px 15px;
	transition: .1s;
	overflow: hidden;
}
man:hover {
	box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
	border-color: #fff;
}
man:hover h1 {
	color: #2894ff;
}
man h1 {
	text-align: center;
	margin:  25px 0 10px 0;
	line-height: 2;
	font-size: 24px;
	font-weight: normal;
	color: #000;
	transition: .2s;
}
man p {
	font-size: 14px!important;
	padding: 15px 25px;
	text-align: center;
	color: #8f8f8f;
	line-height: 2;
}
man img {
	display: block;
	width: 100%;
	height: 280px;
}
man h1::after {
	content: '';
	position: absolute;
	display: block;
	width: 20px;
	height: 4px;
	background: #2894ff;
	margin-left: 120px;
}
man button {
	display: block;
	font-size: 14px;
	padding: 10px 20px;
	margin: 10px auto;
	border: none;
	cursor: pointer;
	border: 1px solid #2894ff;
	background: #fff;
	color: #2894ff;
}
man button:hover {
	color: #fff;
	background: #2894ff;
}
.news {
	display: inline-block;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 0 30px 0;
	vertical-align: top;
}
.width div.news:first-of-type {
	width: 690px;
}
.width div.news:last-of-type {
	width: 490px;
}
.news a {
	display: block;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 14.5px 20px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.news a:hover, .news a:hover t {
	background: #f0f0f0;
}
.news a:not(:last-child) {
	
}
.news-top-s {
	font-size: 16px;
	padding: 16px 20px;
	font-weight: bold;
	background: #fafafa;
	border-bottom: 1px solid #f0f0f0;
}
.news a t {
	margin-top: 2px;
	float: right;
	font-size: 12px;
	color: #9f9f9f;
	font-family: Arial;
}
.news nodata {
	display: block;
	text-align: center;
	font-size: 15px;
	line-height: 4;
	color: #9f9f9f;	
}
.newsd {
	padding: 50px 0;
}
.newsd h1#newstitle {
	font-size: 24px;
	color: #3FB2D0;
	line-height: 1.5;
	padding: 25px 0;
}
.newsd h1#newstitle::after {
	display: block;
	position: absolute;
	content: '';
	width: 40px;
	height: 4px;
	background: #3FB2D0;
	margin-top: 10px;
}
.newsd p#newsinfo {
	color: #9f9f9f;
	margin-top: 10px;
	background: #fafafa;
	font-size: 14px;
	line-height: 2.8;
	border-radius: 5px;
}
.newsd p#newsinfo::after {
	display: block;
	width: 120px;
	height: 2px;
	background: #2894ff;
}
.newsd p#newsinfo img {
	margin: 0 5px 0 10px;
	height: 16px;
	vertical-align: middle;
}
#newscontent {
	padding: 50px 5px;
	font-size: 16px;
	line-height: 2;
}
#newscontent p {
	font-size: 18px;
	text-indent: 2em;
	line-height: 2;
}

#newscontent tit {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 32px;
	letter-spacing: .1em;
	font-family: SimSun;
	color: red;
	padding: 20px 0;
	font-weight: bold;
	transform: scale(80%,100%);
	border-bottom: 6px double red;
}
#newscontent p.r {
	text-align: right;
}
/*@media(max-width:1000px) {
	.flex-width {
		width: 100%;
		margin: 0;
	}
}
@media(min-width:1000px) {
	.flex-width {
		width: 1000px;
		margin: 0 auto;
	}
}*/
.flex-width {
	width: 860px;
	margin: 0 auto;
}

bottom {
	display: block;
	width: 980px;
	background: #3FB2D0;
	color: #fff;
	font-size: 14.5px;
	line-height: 60px;
	text-align: center;
	margin: 0 auto;
}
bottom div {
	line-height: 70px;
}

videc {
	display: inline-block;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
	margin: 10px 15px;
	width: 560px;
	height: 120px;
	transition: .1s;
	position: relative;
}
videc:hover {
	box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
	border-color: #fff;
}
videc:hover img {
	opacity: 1;
}
videc:hover h1 {
	color: #2894ff;
}
videc img {
	position: absolute;
	top: 0;
	left: 0;
	height: 120px;
	width: 180px;
	opacity: .6;
	transition: .2s;
}
videc h1 {
	position: absolute;
	top: 28px;
	left: 210px;
	font-size: 16.5px;
	line-height: 1.5;
	font-weight: normal;
	color: #000;
	width: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	transition: .2s;
}
videc p {
	position: absolute;
	top: 68px;
	left: 210px;
	font-size: 14px;
}
videc p bi {
	display: inline-block;
	color: #f58f98;
	border: 1px solid #f58f98;
	padding: 7px 10px;
	cursor: pointer;
	font-size: 13.5px;
	border-radius: 4px;
	vertical-align: top;
	margin-right: 10px;
}
videc p bi:hover {
	background: #f58f98;
	color: #fff;
}
videc p sph:hover {
	background: #00CD00;
	color: #fff;
}
videc p sph {
	display: inline-block;
	color: #00CD00;
	border: 1px solid #00CD00;
	padding: 7px 10px;
	cursor: pointer;
	font-size: 13.5px;
	border-radius: 4px;
	margin-right: 10px;
	vertical-align: top;
}
videc p ks {
	display: inline-block;
	color: orange;
	border: 1px solid orange;
	padding: 7px 10px;
	cursor: pointer;
	font-size: 13.5px;
	border-radius: 4px;
	margin-right: 10px;
	vertical-align: top;
}
videc p ks:hover {
	background: orange;
	color: #fff;
}

#ac-stn {
	margin-top: 40px;
	border-top: 1px solid #fafafa;
	font-size: 14px;
	line-height: 2;
	padding: 0 20px;
	color: #9f9f9f;
	border-radius: 5px;
}
#ac-stn span {
	float: right;
	line-height: 2;
}
#ac-stn a {
	color: #9f9f9f;
	text-decoration: none;
}
#ac-stn a:hover {
	color: #2894ff;
	text-decoration: underline;
}
#newscontent a {
	color: #2894ff;
	text-decoration: none;
}
#newscontent a:hover {
	text-decoration: underline;
}
gldl {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
	cursor: pointer;
}
gldl:hover {
	text-decoration: underline;
}
.news-newstyle {
	text-align: center;
}
.news-newstyle a {
	text-align: left;
	display: block;
	margin: 0 50px;
	cursor: pointer;
	color: #3FB2D0;
	font-size: 20px;
	font-weight: bold;
	line-height: 50px;
	text-decoration: none;
}
.news-newstyle a s {
	text-decoration: none;
}
.news-newstyle a t {
	margin-left: 16px;
	font-size: 14px;
	color: #9f9f9f;

}
.news-newstyle a:hover s {
	color: #2585a6;
	text-decoration: underline;
}
.news-newstyle a:hover t {
	text-decoration: none;
}