* {
	margin: 0;
	padding: 0;
	line-height: 1;
	font-family: Arial,sans-serif;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
p.ntfd {
	padding: 200px 0;
	text-align: center;
	line-height: 1.8;
	font-size: 16.5px;
}
p.ntfd a {
	display: inline-block;
	color: #2894ff;
	text-decoration: none;
	margin: 0 10px;
}
p.ntfd a:hover {
	color: #0066cc;
	text-decoration: underline;
}
body {
	/*filter:grayscale(100%);*/
}
.top {
	height: 72px;
	background: none;
	min-width: 960px;
	background: #2894ff;
	width: 100%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
	transition: background .1s;
}
.top:hover {
}
.width {
	width: 960px;
	margin: 0 auto;
}
.home-banner {
	background: url(https://1.s140i.faiscm.com/2/AIwBCAAQAhgAIJHYivQFKI-vt5ABMO4FOOgC.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	min-width: 960px;
	padding: 252px 0 180px 0;
	text-align: center;
}
.home-banner p {
	font-size: 16px;
	color: #fff;
	opacity: .8;
	margin-top: 15px;
	line-height: 1.5;
}
.home-banner h1 {
	font-size: 45px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
	font-weight: normal;
}
.nav {
	float: right;
	height: 72px;
}
.drop {
	display: inline-block;
}
.dropc {
	max-height: 150px;
	opacity: 0;
	transition: .12s;
	width: 112px;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #fafafa;
	transform: scale(100%,0);
	transform-origin: top;
	position: absolute;
	background: #fff;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .05);
}
.drop:hover .dropc {
	opacity: 1;
	transform: scale(100%);
}
logo {
	font-size: 24px;
	color: #2894ff;
	line-height: 3;
	display: inline-block;
	vertical-align: middle;
}
.top img {
	display: inline-block;
	height: 30px;
	vertical-align: middle;
	margin: 21px 0;
	margin-right: 10px;
}
.dropc a {
	display: block;
	text-decoration: none;
	font-size: 15px;
	line-height: 1.5;
	padding: 12px 0;
	transition: opacity .3s;
	width: 100%;
	text-align: center;
	color: #000;
}
.dropc a:hover {
	color: #0080ff;
	background: #ecf5ff;
}
.nav::selection {
	background: none;
}
.nav a:not(.dropc a) {
	display: inline-block;
	font-size: 18px;
	line-height: 4;
	color: #fff;
	text-decoration: none;
	padding: 0 20px;
	transition: color .2s;
}
.nav a:not(.dropc a):hover {
	color: #fff;
	background: rgba(0, 0, 0, .2);
}
.title {
	padding: 180px 0;
}
.title::after {
	content: '';
	margin-top: 20px;
	display: block;
	width: 40px;
	height: 5px;
	background: #2894FF;
}
.title h1 {
	display: inline-block;
	vertical-align: bottom;
	font-size: 42px;
	font-family: Microsoft Yahei UI, PingFang SC, sans-serif;
}
.title p:not(.intro) {
	display: inline-block;
	vertical-align: bottom;
	font-size: 26px;
	color: rgba(0, 0, 0, .45);
	margin-left: 30px;
	font-family: Microsoft Yahei UI, PingFang SC, sans-serif;
}
.title p.intro {
	color: #2894ff;
	font-size: 16px;
	line-height: 2;
	margin-top: 20px;
}
.page-c {
	padding: 50px 0;
}
.page-c p {
	font-size: 16px;
	line-height: 2;
}
.page-c h2 {
	font-size: 20px;
	color: #000;
	font-weight: normal;
	line-height: 2;
}
.title-bg {
	background: #ecf5ff;
	background-size: 100% auto;
	min-width: 960px;
}
#home h2.head-news {
	text-align: center;
	margin: 100px 20px;
	color: #ae0000;
	font-size: 32px;
	line-height: 1.3;
}
man {
	display: inline-block;
	width: 260px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	height: 220px;
	margin: 10px 15px;
	transition: .1s;
	overflow: hidden;
}
man:hover {
	box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
	border-color: #fff;
}
man:hover h1 {
	color: #2894ff;
}
man h1 {
	text-align: center;
	margin:  25px 0 10px 0;
	line-height: 2;
	font-size: 24px;
	font-weight: normal;
	color: #000;
	transition: .2s;
}
man p {
	font-size: 14px!important;
	padding: 15px 25px;
	text-align: center;
	color: #8f8f8f;
	line-height: 2;
}
man img {
	display: block;
	width: 100%;
	height: 280px;
}
man h1::after {
	content: '';
	position: absolute;
	display: block;
	width: 20px;
	height: 4px;
	background: #2894ff;
	margin-left: 120px;
}
man button {
	display: block;
	font-size: 14px;
	padding: 10px 20px;
	margin: 10px auto;
	border: none;
	cursor: pointer;
	border: 1px solid #2894ff;
	background: #fff;
	color: #2894ff;
}
man button:hover {
	color: #fff;
	background: #2894ff;
}
.news {
	display: inline-block;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	overflow: hidden;
	margin: 20px 0 30px 0;
	vertical-align: top;
}
.width div.news:first-of-type {
	width: 690px;
}
.width div.news:last-of-type {
	width: 490px;
}
.news a {
	display: block;
	font-size: 14px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 14.5px 20px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.news a:hover, .news a:hover t {
	background: #f0f0f0;
}
.news a:not(:last-child) {
	
}
.news-top-s {
	font-size: 16px;
	padding: 16px 20px;
	font-weight: bold;
	background: #fafafa;
	border-bottom: 1px solid #f0f0f0;
}
.news a t {
	margin-top: 2px;
	float: right;
	font-size: 12px;
	color: #9f9f9f;
	font-family: Arial;
}
.news nodata {
	display: block;
	text-align: center;
	font-size: 15px;
	line-height: 4;
	color: #9f9f9f;	
}
.newsd {
	padding: 50px 0;
}
.newsd h1#newstitle {
	font-weight: normal;
	font-size: 23.5px;
	line-height: 1.5;
	padding: 25px 0;
	text-align: center;
	color: #2894ff;
	font-family: Microsoft Yahei UI, PingFang SC, sans-serif;
}
.newsd h1#newstitle::after {
	display: block;
	position: absolute;
	width: 40px;
	height: 4px;
	background: #2894ff;
	margin-top: 10px;
}
.newsd p#newsinfo {
	display: none;
	color: #9f9f9f;
	margin-top: 10px;
	background: #fafafa;
	font-size: 14px;
	line-height: 2.8;
	border-radius: 5px;
	font-family: Arial, sans-serif;
}
.newsd p#newsinfo::after {
	display: block;
	width: 120px;
	height: 2px;
	background: #2894ff;
}
.newsd p#newsinfo img {
	margin: 0 5px 0 10px;
	height: 16px;
	vertical-align: middle;
}
.newsd p#newsinfo au {
	cursor: pointer;
	font-family: Arial, sans-serif;
}
.newsd p#newsinfo au:hover {
	color: #2894ff;
	text-decoration: underline;
}
#newscontent {
	padding: 50px 10px;
	font-size: 16px;
	line-height: 2;
}
#newscontent p {
	font-size: 18px;
	line-height: 2;
	font-family: Microsoft Yahei UI, PingFang SC, sans-serif;
}
#newscontent author::before {
	content: '#作者';
	margin-right: 10px;
}
#newscontent author {
	display: inline-block;
	background: #ecf5ff;
	border-radius: 5px;
	padding: 0 15px;
	font-size: 16px;
	line-height: 2.5;
	color: #0080ff;
	cursor: pointer;
	margin-bottom: 20px;
	margin-left: 10px;
	transition: .15s;
}
#newscontent author:hover {
	background: #2894ff;
	color: #fff;
}
#newscontent tit {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 32px;
	letter-spacing: .1em;
	font-family: SimSun;
	color: red;
	padding: 20px 0;
	font-weight: bold;
	transform: scale(80%,100%);
	border-bottom: 6px double red;
}
#newscontent p.r {
	text-align: right;
}
@media(max-width:960px) {
	.flex-width {
		width: 100%;
		margin: 0;
	}
}
@media(min-width:960px) {
	.flex-width {
		width: 960px;
		margin: 0 auto;
	}
}

bottom {
	display: block;
	background: #fafafa;
	color: #e0e0e0;
	font-size: 14px;
	text-align: center;
	padding: 20px 0;
	min-width: 960px;
}
bottom p {
	line-height: 1.5;
	padding: 5px 0;
}

videc {
	display: inline-block;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	overflow: hidden;
	background: #fff;
	margin: 10px 15px;
	width: 560px;
	height: 120px;
	transition: .1s;
	position: relative;
}
videc:hover {
	box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
	border-color: #fff;
}
videc:hover img {
	opacity: 1;
}
videc:hover h1 {
	color: #2894ff;
}
videc img {
	position: absolute;
	top: 0;
	left: 0;
	height: 120px;
	width: 180px;
	opacity: .6;
	transition: .2s;
}
videc h1 {
	position: absolute;
	top: 28px;
	left: 210px;
	font-size: 16.5px;
	line-height: 1.5;
	font-weight: normal;
	color: #000;
	width: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	transition: .2s;
}
videc p {
	position: absolute;
	top: 68px;
	left: 210px;
	font-size: 14px;
}
videc p bi {
	display: inline-block;
	color: #f58f98;
	border: 1px solid #f58f98;
	padding: 7px 10px;
	cursor: pointer;
	font-size: 13.5px;
	border-radius: 4px;
	vertical-align: top;
	margin-right: 10px;
}
videc p bi:hover {
	background: #f58f98;
	color: #fff;
}
videc p sph:hover {
	background: #00CD00;
	color: #fff;
}
videc p sph {
	display: inline-block;
	color: #00CD00;
	border: 1px solid #00CD00;
	padding: 7px 10px;
	cursor: pointer;
	font-size: 13.5px;
	border-radius: 4px;
	margin-right: 10px;
	vertical-align: top;
}
videc p ks {
	display: inline-block;
	color: orange;
	border: 1px solid orange;
	padding: 7px 10px;
	cursor: pointer;
	font-size: 13.5px;
	border-radius: 4px;
	margin-right: 10px;
	vertical-align: top;
}
videc p ks:hover {
	background: orange;
	color: #fff;
}

#ac-stn {
	margin-top: 40px;
	border-top: 1px solid #fafafa;
	font-size: 14px;
	line-height: 2;
	padding: 0 20px;
	color: #9f9f9f;
	border-radius: 5px;
}
#ac-stn span {
	float: right;
	line-height: 2;
}
#ac-stn a {
	color: #9f9f9f;
	text-decoration: none;
}
#ac-stn a:hover {
	color: #2894ff;
	text-decoration: underline;
}
#newscontent a {
	color: #2894ff;
	text-decoration: none;
	font-family: Microsoft Yahei UI, PingFang SC, sans-serif;
}
#newscontent a:hover {
	text-decoration: underline;
}
.zhuanlan-top {
	padding: 100px 0;
	text-align: center;
	box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}
.zhuanlan-top h1 {
	font-size: 36px;
	color: #2894ff;
	font-family: Microsoft Yahei UI, PingFang SC, sans-serif;
}
.zhuanlan-top p {
	font-size: 17px;
	color: #7f7f7f;
	margin-top: 30px;
	line-height: 2;
	padding: 0 80px;
}
.zhuanlan-top img {
	display: block;
	width: 180px;
	height: 250px;
	padding: 3.5px;
	border-radius: 3px;
	border: 1px solid #e0e0e0;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
	margin: 0 auto 40px auto;
	cursor: pointer;
}
.zhuanlan-top img:hover {
	filter: brightness(.8);
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
}

.zhuanlan-box a {
	display: block;
	padding: 30px 100px;
	cursor: pointer;
	font-size: 20px;
	position: relative;
}
.zhuanlan-box a au {
	display: block;
	margin-top: 15px;
	font-size: 16px;
	color: #8f8f8f;
}
.zhuanlan-box a ti {
	font-size: 16px;
	color: #8f8f8f;
	position: absolute;
	right: 100px;
	top: 47px;
}
.zhuanlan-box a:hover {
	background: #fafafa;
}
#zhuanlan-box1 {
	margin-top: 30px;
}
#zhuanlan-box2 {
	display: none;
	margin-bottom: 30px;
}
#zhuanlan-morebtn {
	display: block;
	background: #fff;
	color: #2894ff;
	font-size: 16.5px;
	padding: 12px 25px;
	border-radius: 5px;
	border: none;
	margin: 50px auto 30px auto;
	cursor: pointer;
	border: 1px solid #2894ff;
}
#zhuanlan-morebtn:hover {
	color: #000;
	border-color: #0072e3;
}

.sjhfz p {
	font-family: SimSun;
	font-size: 18px;
	line-height: 1.5;
}

dashang {
	display: block;
	max-width: 68px;
	margin: 0 auto 30px auto;
	font-size: 17px;
	padding: 10px 25px;
	color: #ea0000;
	border: 1px solid #ea0000;
	border-radius: 5px;
	cursor: pointer;
}
dashang:hover {
	border-color: #ae0000;
	color: #000;
}

#dashang_dialog {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: -100%;
	opacity: 0;
	left: 0;
	background: rgba(0, 0, 0, .7);
	transition: top .15s, opacity .15s;
	z-index: 3333;
}
#dashang_close {
	display: block;
	position: absolute;
	top: 20vh;
	right: 25vw;
	width: 40px;
	height: 40px;
	background: url(https://1.s140i.faiscm.com/4/AIwBCAAQBBgAIJHChu0FKJjy1vgDMCg4KA.png);
	background-size: 100% 100%;
	cursor: pointer;
}
#dashang_close:hover {
	filter: brightness(.5);
}

.gn-sy {
	padding: 50px 0;
	text-align: center;
}
.gn-sy img {
	display: inline-block;
	width: 270px;
	margin: 20px 20px;
	cursor: pointer;
}
.gn-sy img:hover {
	filter: brightness(1.05);
}
.gn-sy span {
	display: block;
	margin: 20px auto 50px auto;
	font-size: 14px;
	color: #d0d0d0;
}
.xxgs-1 {
	padding: 50px 0;
}
.xxgs-1 a {
	display: block;
	padding: 20px 30px;
	text-align: left;
	font-size: 16px;
	cursor: pointer;
}
.xxgs-1 a:not(:last-child) {
	border-bottom: 1px solid #f0f0f0;
}
.xxgs-1 a:hover {
	color: #2894ff;
	text-decoration: underline;
}

ptm {
	display: block;
	margin: 30px auto 0 auto;
	width: 400px;
	font-size: 17px;
	line-height: 3;
	padding: 0 20px;
	color: #00BB00;
	background: #F0FFF0;
	border-radius: 100px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .1);
	cursor: default;
}

bq {
	display: inline-block;
	background: #ecf5ff;
	color: #2894ff;
	padding: 5px 8px;
	margin:0 2.5px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
	font-size: 14px;
	border-radius: 100px;
	cursor: default;
}